<!-- prettier-ignore -->
<div class="wrapper">
  <% include ../../../common/nav.ejs %>
  <!-- mode 변수 할당 -->
  <section id="page-title" class="page-title" style="padding: 150px 0;">
    <div class="container clearfix">
      <h1>글쓰기</h1>
    </div>
  </section>
  <!-- Content -->
  <!--
    넘겨주는 값 (/submit)
    title: 제목
    writer: 사용자 ID
    contents: 에디터 내용
    upFile: 업로드 파일 있을시 업로드 (TODO)
    subject: 카테고리 과목설정
    important: 0 - 일반글, 1 - 공지글
    mode: 'add': 글 작성, 'edit': 글 수정 'delete': 글 삭제
  -->
  <section id="content">
    <div class="content-wrap">
      <form id="posting" method="POST" action="/board/submitP">
        <div id="importContainer">
          <span id="notice">공지</span>
          <!-- Checkbox Unchecked: 0, Checked: 1 -->
          <input id="checkbox" type="checkbox" onclick="checkbox()" />
        </div>
        <div class="form-row">
          <div class="col-sm-3">
            <select id="subject" class="form-control" name="subject" required>
              <option value="">선택해주세요</option>
              <option value="0">공지사항</option>
              <option value="1">웹프로그래밍</option>
              <option value="2">종합설계</option>
              <option value="3">운영체제</option>
              <option value="4">Advanced OS</option>
            </select>
          </div>
          <div class="col-sm-9">
            <input type="text" id="title" class="form-control" name="title" placeholder="제목을 입력해주세요" />
          </div>
        </div>
        <input type="hidden" id="writer" name="writer" value="admin" />
        <!-- Mode 값 할당 -->
        <% if (mode == 'add') { %>
          <input type="hidden" name="mode" value="add" />
        <% } else if (mode == 'edit') { %>
          <input id="id" type="hidden" name="id" />
          <input type="hidden" name="mode" value="edit" />
        <% } %>
        <!-- important 값 -->
        <input id="important" type="hidden" name="important" value="0" />
        <textarea name="contents" style="display: none;"></textarea>
        <div id="summernote"></div>
        <input type="file" class="form-control-file" id="UploadFile" name="UploadFile" >
      </form> 
      <button id="edit" class="btn btn-primary save" type="button" style="display: none;">
        Save
      </button>
      <button id="add" class="btn btn-primary save" type="button">Save</button>
    </div>
    <% include ../../../common/footer.ejs %>
  </section>
</div>
<!-- edit mode -->
<% if (mode == 'edit') { %>
<script>
  function editMode() {
    if ('<%- content.important %>' == 1) {
      $("#checkbox").prop("checked", true);
      $('#important').val(1);
    }
    switch (<%- content.subject %>) {
      case 0:
        $('#subject').val(0).select;
        break;
      case 1:
        $('#subject').val(1).select;
        break;
      case 2:
        $('#subject').val(2).select;
        break;
      case 3:
        $('#subject').val(3).select;
        break;
      case 4:
        $('#subject').val(4).select;
        break;
      case 5:
        $('#subject').val(5).select;
        break;
    }
    $('#title').val('<%- content.title %>');
    $('#writer').val('<%- content.writer %>');
    $('#summernote').summernote('code', '<%- content.contents %>');
  }
</script>
<% } %>
<!-- init -->
<script>
  $(document).ready(function() {
    var page = $.urlParam('id');
    /* text editor init */
    $('#summernote').summernote({
      lang: 'ko-KR',
      focus: true,
      minHeight: 450,
      maxHeight: 780,
      placeholder: '내용을 입력해주세요',
      shortcuts: false,
      toolbar: [
        ['style', ['bold', 'italic', 'underline']],
        ['fontsize', ['fontsize']],
        ['forecolor', ['forecolor']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['insert', ['picture', 'link', 'video', 'table']],
        ['Misc', ['codeview', 'undo', 'redo']],
      ],
    });
    /* edit Mode */
    const mode = '<%- mode %>';
    if (mode == 'edit') {
      console.log('edit mode');
      $('#id').val(page);
      $('#edit').css('display', 'block');
      $('#add').css('display', 'none');
      editMode();
      clickEvent('edit');
    } else {
      clickEvent('add');
    }
  });
  /* checkbox init */
  function checkbox() {
    if ($('#checkbox').is(':checked')) $('#important').val(1);
    else $('#important').val(0);
  }
  function clickEvent(tag) {
    $(`#${tag}`).click(function() {
      if ($('#subject').val() >= 0 && $('#subject').val() != null) {
        $("textarea[name='contents']").val($('#summernote').summernote('code'));
        checkbox();
        if (
          tag == 'add' &&
          document.getElementById('UploadFile').files.length > 0
        ) {
          $('form').attr('enctype', 'multipart/form-data');
          $('form').attr('action', '/board/submitF');
        } else if (
          tag == 'add' &&
          document.getElementById('UploadFile').files.length == 0
        )
          $('#UploadFile').remove();
        $('#posting').submit();
      } else {
        alert('카테고리를 선택해주세요');
      }
    });
  }
  /* Get a boardNum param */
  $.urlParam = function(name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(
      window.location.href
    );
    if (results == null) return null;
    else return decodeURI(results[1]) || 0;
  };
</script>
