<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <div class="content_box">
    <div class="content-title">
      <%=content.title%>
    </div>
    <div class="content-info">
      <%= content.date %> /
      <%= content.writer %>
    </div>
    <div class="content-text">
      <%- content.contents %>
    </div>
    <div class="download-file">
    </div>
    <button><a onclick="modifyContents();">수정</a></button>
    <button><a onclick="deleteContents();">삭제</a></button>
    <a href="/board">
      <div class="content-Btn">확인</div>
    </a>
  </div>

  <!-- modify content form -->
  <div class="modify_form" hidden>
    <form id="modifyAction" action="/board/?mode=modify" method="post">
      <input type="text" class="modSubject" id="modContentSubject" name="modContentSubject" placeholder="제목" />
      <input type="password" class="inputPassword" id="modContentPassword" name="modContentPassword" placeholder="비밀번호" />
      <span class="modWriter" id="modContentWriter" name="modContentWriter"></span></br>
      <textarea class="textContents" id="modContents" name="modContents" rows="20" cols="80"></textarea>
      <input type="hidden" id="modId" name="modId" value="<%=content._id%>" />
    </form>
    <div class="addBtngroup" style="margin-left:520px;">
      <a onclick="modifySubmitContents();">SUBMIT</a>
      <a onclick="cancelForm('modify');">CANCEL</a>
    </div>
  </div>
  <!-- modify form end -->

  <!-- delete confirm window -->
  <div class="delete_confirm" hidden>
    <h1>비밀 번호를 입력하면 글이 삭제됩니다</h1>
    <input type="password" id="delPassword" name="delPassword" />
    <button onclick="deleteConfirm();">삭제</button>
    <button onclick="cancelForm('delete');">취소</button>
  </div>
  <!-- Script -->
  <% function dateFormatChange(date) { var options = { weekday: "short", year:
    "numeric", month: "short", day: "numeric", hour: "2-digit", minute:
    "2-digit" }; return date.toLocaleTimeString("ko-KR", options); } %>
  <script>
    $(function () {
      var fileUp = '<%=content.fileUp%>';
      var files = '';
      var cnt = '';
      var output = '';
      if (fileUp != "") {
        files = fileUp.split(',');
        cnt = files.length;
        for (var i = 0; i < cnt; i++) {
          output += "<button type='button' onclick=downloadFiles('" + files[i].split(':')[0] + "');>";
          output += "<span id='downloadFile'>" + files[i].split(':')[1] + "</span>";
          output += "</button>";
        }
      } else {
        output = "파일이 없습니다.";
      }
      $('.download-file').html(output);
    });
    function modifyContents() {
      // 글 수정 버튼 눌렀을 때 화면 전환 시
      $(".content_box").hide();
      $(".modify_form").show();
      $(".modSubject").val("<%=content.title%>");
      $(".modWriter").text("<%=content.writer%>");
      $(".textContents").html("<%=content.contents%>");
    }
    function checkPW(inputPassword) {
      var result = "";
      if ("<%= content.password %>" == inputPassword) {
      }
      $.ajax({
        url: "/password/?id=<%=content._id%>",
        async: false,
        success: function (password) {
          if (inputPassword == password) result = true;
          else result = false;
        }
      });
      return result;
    }
    function modifySubmitContents() {
      // 글 수정후 db 저장 시 비번 확인 후 맞으면 수정으로 submit
      var title = $("#modContentSubject").val();
      var content = $("#modContents").val();
      var inputPassword = $("#modContentPassword").val();
      var chkpw = checkPW(inputPassword);
      if (chkpw == true) {
        if (title == "" || content == "") {
          alert("제목과 내용 모두 있어야합니다.");
          return;
        } else {
          $("#modifyAction").submit();
        }
      } else {
        alert("글 작성 시 입력한 비밀 번호를 입력해주세요");
        return;
      }
    }
    function deleteContents() {
      // 글 삭제시 비번 확인 후 맞으면 삭제로 submit
      $(".delete_confirm").show();
    }
    function deleteConfirm() {
      var inputPassword = $("#delPassword").val();
      var chkpw = checkPW(inputPassword);
      if (chkpw == true) {
        location.href = "/board/delete?id=<%=content._id%>";
      } else {
        alert("글 작성 시 입력한 비밀 번호를 입력해주세요");
        return;
      }
    }
    function downloadFiles(filepath) {
      var path = filepath;
      if (confirm("파일이 다운로드 됩니다.") == true) {
        location.href = "/board/download/" + path;
      }
    }
  </script>
</body>

</html>