<!-- prettier-ignore -->
<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th class="col-xs-1">No.</th>
      <th class="col-xs-6">제목</th>
      <th class="col-xs-2">작성자</th>
      <th class="col-xs-2">작성일</th>
      <th class="col-xs-1">조회수</th>
    </tr>
  </thead>
  <tbody>
    <% impContents.forEach(el => {
      if(el.important == 1) {  %>
        <tr class="info">
          <td>공지</td>
          <td>
            <a href="/board/Detail_view?id=<%= el._id %>">
              <%= el.title %></a>
          </td>
          <td>
            <%= el.writer %>
          </td>
          <td>
            <%= el.date %>
          </td>
          <td>
            <%= el.count %>
          </td>
        </tr>
    <% }}); %>
    <% for (let i = 0; i < contents.length; i++) { %>
    <tr>
      <td>
        <%= i + 1%>
      </td>
      <td>
        <a href="/board/Detail_view?id=<%= contents[i]._id %>">
          <%= contents[i].title %></a>
      </td>
      <td>
        <%= contents[i].writer %>
      </td>
      <td>
        <%= contents[i].date %>
      </td>
      <td>
        <%= contents[i].count %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<br />
<div class="align-middle board-nav">
  <ul class="pagination">
    <li id="page1" class="page-item active">
      <a class="page-link" href="/board?page=1">1</a>
    </li>
    <% for (let i = 1; i < pagination; i++) { %>
    <li id="page<%= i + 1 %>" class="page-item">
      <a class="page-link" href="/board?page=<%= i+1 %>"> <%= i + 1 %></a>
    </li>
    <% } %>
  </ul>
  <form action="/board/search" id="searchAction" name="searchAction">
    <a onclick="searchContent();"></a>
    <input
      type="text"
      class="form-control"
      id="searchWord"
      name="searchWord"
      placeholder="검색"
    />
    <input id="boardNum" type="hidden" name="boardNum" />
  </form>

  <% if (can_write) { %>
  <a class="btn btn-default pull-right" href="/board/posting">Write</a> <% } %>
</div>

<script>
  $(document).ready(function() {
    var page = $.urlParam('page');
    if (page === null) page = 1;
    $('.active').removeClass('active');
    $('#page' + parseInt(page)).addClass('active');

    /* boardNum */
    if ($.urlParam('boardNum') == null) $('#boardNum').val(0);
    else $('#boardNum').val($.urlParam('boardNum'));
  });

  /* Search */
  function searchContent() {
    if ($('#searchWord').val == '') alert('검색어를 입력해주세요');
    else $('#searchAction').submit();
  }

  /* Get a boardNum param */
  $.urlParam = function(name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(
      window.location.href
    );
    if (results == null) return null;
    else return decodeURI(results[1]) || 0;
  };
</script>
